@layer utilities {
    .p2000-householdDetails {       
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .p1300-householdDetails {       
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .p1200-householdDetails {       
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .p1100-householdDetails {       
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    
    .p1000-householdDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    
    .p900-householdDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .p800-householdDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }


    .p700-householdDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }


    .p600-householdDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }


    .p500-householdDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .p450-householdDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .p400-householdDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .p350-householdDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .p300-householdDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        // margin: 0 auto;
        margin-left: 20%
    }

    .p250-householdDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 25%
    }

    .p200-householdDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 30%
        
    }


    .p150-householdDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 60%
    }

    .p100-householdDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 70%
    }


}